In [1]:
from ib_insync import *
import pandas as pd
import random
from datetime import date, time

In [7]:
# get the list of tickers
symbol_list = list(pd.read_csv("data/stocks_daily.csv")["isin"].unique())
symbol_list

['US19260Q1076',
 'US83304A1060',
 'DE000A3ENQ51',
 'DE0005545503',
 'US09075V1026',
 'US92826C8394',
 'US00287Y1091',
 'LU1778762911',
 'US58933Y1055',
 'US0090661010',
 'US12468P1049',
 'US40434L1052',
 'US02079K3059',
 'US02079K1079',
 'CA06849F1080',
 'DE000A0Z23Q5',
 'DE000A1EWWW0',
 'US0258161092',
 'DE0005313704',
 'DE000A2LQ884',
 'DE000A0WMPJ6',
 'DE0008404005',
 'US0079031078',
 'US0311621009',
 'DE000AUM0V10',
 'US0231351067',
 'US0378331005',
 'LU1673108939',
 'DE000BASF111',
 'DE000BAY0017',
 'DE0005158703',
 'US0970231058',
 'DE0005200000',
 'LU1704650164',
 'DE0005190003',
 'DE0005190037',
 'DE000A1DAHH0',
 'DE000A1PHFF7',
 'US1101221083',
 'US0846707026',
 'US1491231015',
 'DE000CBK1001',
 'US1912161007',
 'US1921085049',
 'US1667641005',
 'US17275R1023',
 'US46625H1005',
 'DE0005419105',
 'DE0005439004',
 'US1941621039',
 'DE0005403901',
 'US1713401024',
 'DE0005810055',
 'DE0005140008',
 'US2441991054',
 'DE0006305006',
 'DE000A2E4K43',
 'DE0005552004',
 'DE000A2GS5D8',
 'DE000BEAU1Y4',
 'DE0005550636',
 'DE0005557508',
 'DE000DTR0CK8',
 'DE0005565204',
 'DE0005677108',
 'DE000ENER6Y0',
 'DE000ENAG999',
 'DE0005659700',
 'DE0005470306',
 'DE000EVNK013',
 'DE0005664809',
 'US30303M1027',
 'DE0005772206',
 'US3453708600',
 'DE0005785802',
 'CA32076V1031',
 'DE000A0Z2ZZ5',
 'DE000A3E5D64',
 'DE0005773303',
 'DE0005785604',
 'DE000FTG1111',
 'DE0006602006',
 'DE000A12DM80',
 'DE0005909006',
 'DE0005800601',
 'US3755581036',
 'DE000A161N30',
 'US38141G1040',
 'DE000A0LD6E6',
 'LU0775917882',
 'DE000HAG0005',
 'DE0006083405',
 'US4370761029',
 'DE0006047004',
 'DE0006048408',
 'DE0006048432',
 'DE000A161408',
 'DE000HLAG475',
 'DE0008402215',
 'DE0006070006',
 'DE0005493365',
 'US4592001014',
 'US09062X1037',
 'DE0006231004',
 'DE000A3E00M1',
 'US9344231041',
 'DE000A2NB601',
 'US4781601046',
 'DE0006219934',
 'DE000KBX1006',
 'DE000KC01000',
 'DE000KGX8881',
 'US5007541064',
 'CA4969024047',
 'DE0006335003',
 'AT0000A0E9W5',
 'DE000LEG1110',
 'DE0008232125',
 'US5324571083',
 'US5398301094',
 'DE0005470405',
 'DE0007100000',
 'US5801351017',
 'US88579Y1010',
 'DE0006599905',
 'US86800U3023',
 'US5949181045',
 'DE000A0D9PT0',
 'DE0008430026',
 'DE000A2NB650',
 'DE000A3H2200',
 'US0605051046',
 'DE000NCA0001',
 'DE0006766504',
 'DE000A0D6554',
 'DE0006452907',
 'US6541061031',
 'DE000A1H8BV3',
 'US67066G1040',
 'US9497461015',
 'US68389X1054',
 'DE000PAG9113',
 'DE000PAH0038',
 'DE000PAT1AG3',
 'DE0008019001',
 'US7134481081',
 'US7170811035',
 'DE000PFSE212',
 'US02209S1033',
 'US7427181091',
 'DE000PSM7770',
 'DE0006969603',
 'US7475251036',
 'US00486H1059',
 'NL0015002SN0',
 'DE000RENK730',
 'DE0007010803',
 'NL0012044747',
 'DE0007030009',
 'LU0061462528',
 'DE0007037129',
 'DE000A0DJ6J9',
 'DE0007164600',
 'DE0007493991',
 'DE000KSAG888',
 'DE000SAFH001',
 'DE000SHA0100',
 'DE000SHL1006',
 'DE0007236101',
 'CA9628791027',
 'DE0007231326',
 'DE0007231334',
 'DE000A1K0235',
 'US00206R1023',
 'US8522341036',
 'US8552441094',
 'DE0007165631',
 'DE000STAB1L8',
 'DE0007274136',
 'DE000SYM9999',
 'US8636671013',
 'DE0006202005',
 'DE0007297004',
 'DE0008303504',
 'DE0007500001',
 'DE000TKMS001',
 'US88160R1014',
 'DE000TLX1005',
 'DE000A2YN900',
 'DE000TUAG505',
 'US9078181081',
 'US90353T1007',
 'DE0005089031',
 'DE000A0JL9W6',
 'DE000A255F11',
 'DE000A1ML7J1',
 'DE0007667107',
 'DE0007664005',
 'DE0007664039',
 'DK0061539921',
 'DE000WACK012',
 'DE000WAF3001',
 'DE000WCH8881',
 'US2546871060',
 'US9311421039',
 'DE0008051004',
 'US30231G1022',
 'DE000ZAL1111']

In [13]:


# 1. Setup
util.startLoop() 
ib = IB()

# 2. Connect
my_client_id = random.randint(1, 9999)
try:
    ib.connect('127.0.0.1', 7497, clientId=my_client_id)
    print("✅ Connected!")
except Exception as e:
    print(f"❌ Error: {e}")

# 3. Market Data Type (3 = Delayed)
ib.reqMarketDataType(3)


# scratch the data
price_data_ls = []
for idx, isin in enumerate(symbol_list):

    # resolve ISIN
    contract = Contract(
        secType='STK',
        secIdType='ISIN',
        secId=isin,
        exchange='SMART'
    )
    details = ib.reqContractDetails(contract)
    contract_ls = [contract for contract in details if contract.contract.primaryExchange == "IBIS"]
    if len(contract_ls) == 0:
        continue
    contract = contract_ls[0].contract
    symbol_local = contract.localSymbol
    symbol = contract.symbol
    conId = contract.conId

    # get the ticker data
    bars = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='30 D',
        barSizeSetting='5 mins',
        whatToShow='TRADES',
        useRTH=True
    )

    # pandas Processing
    df = util.df(bars)
    if df is not None and not df.empty:
        df['date'] = pd.to_datetime(df['date'])
        df = df.rename({"date": "datetime"}, axis=1)
        df["date"] = df["datetime"].dt.date
        df["time"] = df["datetime"].dt.time
        df["hour"] = df["datetime"].dt.hour
        df["symbol_local"] = symbol_local
        df["symbol"] = symbol
        df["isin"] = isin
        df["contract"] = conId
        price_data_ls.append(df)
        print(f"SUCCESS - {round(100*idx/len(symbol_list), 2)}% - {symbol}")
    else:
        print("⚠️ No data received. Try changing 'whatToShow' to 'MIDPOINT' or check market hours.")

# disconnect
ib.disconnect()

# put data together
price_data_df = pd.concat(price_data_ls)
price_data_df.to_csv("data/stocks_5min.csv", index=False)
price_data_df

✅ Connected!
SUCCESS - 0.0% - 1QZ
SUCCESS - 0.48% - 1SI
SUCCESS - 0.96% - 1SXP
SUCCESS - 1.44% - 1U1
SUCCESS - 1.92% - 22UA
SUCCESS - 2.4% - 3V64
SUCCESS - 2.88% - 4AB
SUCCESS - 3.37% - 639
SUCCESS - 3.85% - 6MK
SUCCESS - 4.33% - 6Z1
SUCCESS - 4.81% - 724
SUCCESS - 5.29% - 7HP
SUCCESS - 5.77% - ABEA
SUCCESS - 6.25% - ABEC
SUCCESS - 6.73% - ABR
SUCCESS - 7.21% - ADN1
SUCCESS - 7.69% - ADS
SUCCESS - 8.17% - AEC1
SUCCESS - 8.65% - AFX
SUCCESS - 9.13% - AG1
SUCCESS - 9.62% - AIXA
SUCCESS - 10.1% - ALV
SUCCESS - 10.58% - AMD
SUCCESS - 11.06% - AMG1
SUCCESS - 11.54% - AMV0
SUCCESS - 12.02% - AMZ
SUCCESS - 12.5% - APC
SUCCESS - 12.98% - AT11
SUCCESS - 13.46% - BAS
SUCCESS - 13.94% - BAYN
SUCCESS - 14.42% - BC8
SUCCESS - 14.9% - BCO
SUCCESS - 15.38% - BEI
SUCCESS - 15.87% - BFSA
SUCCESS - 16.35% - BMW
SUCCESS - 16.83% - BMW3
SUCCESS - 17.31% - BNR
SUCCESS - 17.79% - BOSS
SUCCESS - 18.27% - BRM
SUCCESS - 18.75% - BRYN
SUCCESS - 19.23% - CAT1
SUCCESS - 19.71% - CBK
SUCCESS - 20.19% - CCC3
SUCCESS - 20.67% - CDM1
SUCCESS - 21.15% - CHV
SUCCESS - 21.63% - CIS
SUCCESS - 22.12% - CMC
SUCCESS - 22.6% - COK
SUCCESS - 23.08% - CON
SUCCESS - 23.56% - CPA
SUCCESS - 24.04% - CWC
SUCCESS - 24.52% - CXU
SUCCESS - 25.0% - DB1
SUCCESS - 25.48% - DBK
SUCCESS - 25.96% - DCO
SUCCESS - 26.44% - DEZ
SUCCESS - 26.92% - DHER
SUCCESS - 27.4% - DHL
SUCCESS - 27.88% - DMP
SUCCESS - 28.37% - DOU
SUCCESS - 28.85% - DRW3
SUCCESS - 29.33% - DTE
SUCCESS - 29.81% - DTG
SUCCESS - 30.29% - DUE
SUCCESS - 30.77% - ELG
SUCCESS - 31.25% - ENR
SUCCESS - 31.73% - EOAN
SUCCESS - 32.21% - EUZ
SUCCESS - 32.69% - EVD
SUCCESS - 33.17% - EVK
SUCCESS - 33.65% - EVT
SUCCESS - 34.13% - FB2A
SUCCESS - 34.62% - FIE
SUCCESS - 35.1% - FMC1
SUCCESS - 35.58% - FME
SUCCESS - 36.06% - FMV
SUCCESS - 36.54% - FNTN
SUCCESS - 37.02% - FPE3
SUCCESS - 37.5% - FRA
SUCCESS - 37.98% - FRE
SUCCESS - 38.46% - FTK
SUCCESS - 38.94% - G1A
SUCCESS - 39.42% - G24
SUCCESS - 39.9% - GBF
SUCCESS - 40.38% - GFT
SUCCESS - 40.87% - GIS
SUCCESS - 41.35% - GLJ
SUCCESS - 41.83% - GOS
SUCCESS - 42.31% - GXI
SUCCESS - 42.79% - GYC
SUCCESS - 43.27% - HAG
SUCCESS - 43.75% - HBH
SUCCESS - 44.23% - HDI
SUCCESS - 44.71% - HEI
SUCCESS - 45.19% - HEN
SUCCESS - 45.67% - HEN3
SUCCESS - 46.15% - HFG
SUCCESS - 46.63% - HLAG
SUCCESS - 47.12% - HNR1
SUCCESS - 47.6% - HOT
SUCCESS - 48.08% - HYQ
SUCCESS - 48.56% - IBM
SUCCESS - 49.04% - IDP
SUCCESS - 49.52% - IFX
SUCCESS - 50.0% - IOS
SUCCESS - 50.48% - J5A
SUCCESS - 50.96% - JEN
SUCCESS - 51.44% - JNJ
SUCCESS - 51.92% - JUN3
SUCCESS - 52.4% - KBX
SUCCESS - 52.88% - KCO
SUCCESS - 53.37% - KGX
SUCCESS - 53.85% - KHNZ
SUCCESS - 54.33% - KIN2
SUCCESS - 54.81% - KRN
SUCCESS - 55.29% - KTN
SUCCESS - 55.77% - LEG
SUCCESS - 56.25% - LHA
SUCCESS - 56.73% - LLY
SUCCESS - 57.21% - LOM
SUCCESS - 57.69% - LXS
SUCCESS - 58.17% - MBG
SUCCESS - 58.65% - MDO
SUCCESS - 59.13% - MMM
SUCCESS - 59.62% - MRK
SUCCESS - 60.1% - MS51
SUCCESS - 60.58% - MSF
SUCCESS - 61.06% - MTX
SUCCESS - 61.54% - MUV2
SUCCESS - 62.02% - MUX
SUCCESS - 62.5% - NA9
SUCCESS - 62.98% - NCB
SUCCESS - 63.46% - NCH2
SUCCESS - 63.94% - NDA
SUCCESS - 64.42% - NDX1
SUCCESS - 64.9% - NEM
SUCCESS - 65.38% - NKE
SUCCESS - 65.87% - NOEJ
SUCCESS - 66.35% - NVD
SUCCESS - 66.83% - NWT
SUCCESS - 67.31% - ORC
SUCCESS - 67.79% - P911
SUCCESS - 68.27% - PAH3
SUCCESS - 68.75% - PAT
SUCCESS - 69.23% - PBB
SUCCESS - 69.71% - PEP
SUCCESS - 70.19% - PFE
SUCCESS - 70.67% - PFSE
SUCCESS - 71.15% - PHM7
SUCCESS - 71.63% - PRG
SUCCESS - 72.12% - PSM
SUCCESS - 72.6% - PUM
SUCCESS - 73.08% - QCI
SUCCESS - 73.56% - QH9
SUCCESS - 74.04% - QIA
SUCCESS - 74.52% - R3NK
SUCCESS - 75.0% - RAA
SUCCESS - 75.48% - RDC
SUCCESS - 75.96% - RHM
SUCCESS - 76.44% - RRTL
SUCCESS - 76.92% - RWE
SUCCESS - 77.4% - S92
SUCCESS - 77.88% - SAP
SUCCESS - 78.37% - SAX
SUCCESS - 78.85% - SDF
SUCCESS - 79.33% - SFQ
SUCCESS - 79.81% - SHA
SUCCESS - 80.29% - SHL
SUCCESS - 80.77% - SIE
SUCCESS - 81.25% - SII
SUCCESS - 81.73% - SIX2
SUCCESS - 82.21% - SIX3
SUCCESS - 82.69% - SMHN
SUCCESS - 83.17% - SOBA
SUCCESS - 83.65% - SQ3
SUCCESS - 84.13% - SRB
SUCCESS - 84.62% - SRT3
SUCCESS - 85.1% - STM
SUCCESS - 85.58% - STO3
SUCCESS - 86.06% - SY1
SUCCESS - 86.54% - SYK
SUCCESS - 87.02% - SZG
SUCCESS - 87.5% - SZU
SUCCESS - 87.98% - TEG
SUCCESS - 88.46% - TKA
SUCCESS - 88.94% - TKMS
SUCCESS - 89.42% - TL0
SUCCESS - 89.9% - TLX
SUCCESS - 90.38% - TMV
SUCCESS - 90.87% - TUI1
SUCCESS - 91.35% - UNP
SUCCESS - 91.83% - UT8
SUCCESS - 92.31% - UTDI
SUCCESS - 92.79% - VBK
SUCCESS - 93.27% - VH2
SUCCESS - 93.75% - VNA
SUCCESS - 94.23% - VOS
SUCCESS - 94.71% - VOW
SUCCESS - 95.19% - VOW3
SUCCESS - 95.67% - VWSB
SUCCESS - 96.15% - WAC
SUCCESS - 96.63% - WAF
SUCCESS - 97.12% - WCH
SUCCESS - 97.6% - WDP1
SUCCESS - 98.08% - WMT
SUCCESS - 98.56% - WUW
SUCCESS - 99.04% - XONA
SUCCESS - 99.52% - ZAL

,datetime,open,high,low,close,volume,average,barCount,date,time,hour,symbol_local,symbol,isin,contract
0,2025-12-16 09:00:00+01:00,210.840,211.66,210.840,211.40,276.0,211.4160,10,2025-12-16,09:00:00,9,1QZ,1QZ,US19260Q1076,482628319
1,2025-12-16 09:05:00+01:00,211.600,211.90,211.400,211.90,920.0,211.6920,32,2025-12-16,09:05:00,9,1QZ,1QZ,US19260Q1076,482628319
2,2025-12-16 09:10:00+01:00,211.840,212.20,211.500,211.50,1264.0,211.8900,46,2025-12-16,09:10:00,9,1QZ,1QZ,US19260Q1076,482628319
3,2025-12-16 09:15:00+01:00,211.500,211.80,211.500,211.80,27.0,211.6560,2,2025-12-16,09:15:00,9,1QZ,1QZ,US19260Q1076,482628319
4,2025-12-16 09:20:00+01:00,211.500,211.80,211.300,211.80,158.0,211.4000,10,2025-12-16,09:20:00,9,1QZ,1QZ,US19260Q1076,482628319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3006,2026-02-02 16:15:00+01:00,24.290,24.45,24.290,24.43,16901.0,24.3905,96,2026-02-02,16:15:00,16,ZAL,ZAL,DE000ZAL1111,168731675
3007,2026-02-02 16:20:00+01:00,24.430,24.56,24.400,24.56,46975.0,24.4780,122,2026-02-02,16:20:00,16,ZAL,ZAL,DE000ZAL1111,168731675
3008,2026-02-02 16:25:00+01:00,24.570,24.62,24.510,24.62,11240.0,24.5680,68,2026-02-02,16:25:00,16,ZAL,ZAL,DE000ZAL1111,168731675
3009,2026-02-02 16:30:00+01:00,24.640,24.67,24.620,24.62,8468.0,24.6455,57,2026-02-02,16:30:00,16,ZAL,ZAL,DE000ZAL1111,168731675
3010,2026-02-02 16:35:00+01:00,24.605,24.66,24.605,24.66,18155.0,24.6475,80,2026-02-02,16:35:00,16,ZAL,ZAL,DE000ZAL1111,168731675