In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

# -------------------------------
# Parameters
# -------------------------------
symbol = "TRY=X"        # Gold Futures
end_date = datetime.today()
start_date = end_date - timedelta(days=20*365)  # ~20 years

# -------------------------------
# Download data
# -------------------------------
print(f"Downloading {symbol} data from {start_date.date()} to {end_date.date()}...")
data = yf.download(
    symbol,
    start=start_date.strftime("%Y-%m-%d"),
    end=end_date.strftime("%Y-%m-%d"),
    interval="1d",
    progress=True
)

# -------------------------------
# Cleanup
# -------------------------------
if not data.empty:
    data.reset_index(inplace=True)
    data.rename(columns={"Date": "datetime"}, inplace=True)
    data["date"] = data["datetime"].dt.date
    data["symbol"] = symbol
    print(f"✅ Downloaded {len(data)} rows.")
else:
    print("⚠️ No data received.")

# -------------------------------
# Save to CSV
# -------------------------------
data.to_csv("data/usd_try.csv", index=False)
print("Saved to usd_try.csv")

/opt/miniconda3/envs/interactive_brokers/lib/python3.13/site-packages/yfinance/scrapers/history.py:201: Pandas4Warning: Timestamp.utcnow is deprecated and will be removed in a future version. Use Timestamp.now('UTC') instead.
  dt_now = pd.Timestamp.utcnow()
[*********************100%***********************]  1 of 1 completed

Downloading TRY=X data from 2006-02-10 to 2026-02-05...
✅ Downloaded 5196 rows.
Saved to usd_try.csv

In [ ]:
data

Price,datetime,Close,High,Low,Open,Volume,date,symbol
Ticker,,GC=F,GC=F,GC=F,GC=F,GC=F,,
0,2006-02-08,550.099976,553.299988,545.500000,551.000000,762,2006-02-08,GC=F
1,2006-02-09,564.500000,566.000000,549.900024,549.900024,227,2006-02-09,GC=F
2,2006-02-10,550.200012,561.900024,548.000000,561.900024,222,2006-02-10,GC=F
3,2006-02-13,539.000000,549.500000,540.000000,548.500000,645,2006-02-13,GC=F
4,2006-02-14,545.900024,546.000000,535.500000,538.000000,142,2006-02-14,GC=F
...,...,...,...,...,...,...,...,...
5021,2026-01-27,5079.899902,5079.899902,5079.899902,5079.899902,34,2026-01-27,GC=F
5022,2026-01-28,5301.600098,5301.600098,5301.600098,5301.600098,112054,2026-01-28,GC=F
5023,2026-01-29,5318.399902,5586.200195,5097.500000,5415.700195,23709,2026-01-29,GC=F
5024,2026-01-30,4713.899902,5440.500000,4700.000000,5376.399902,23709,2026-01-30,GC=F
5025,2026-02-02,4791.299805,4794.899902,4690.200195,4691.000000,5143,2026-02-02,GC=F